
nav {
    background-image: linear-gradient(to right, #274046, #E6DADA);
    display: inline-block;
    width: 100%;
    border-radius: 20px;
    height: 7vh;
}

.nav-link {
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    padding: 2.5%;
    height: 20%;
    color: bisque;
    margin-top: -5vh;
    padding-top: -2vh;
}

#para-right {
    width: 28%;
    text-align: center;
    display: inline-block;
    margin-left: 30%;
    color: white;
    font-weight: bold;
}

#nav-img {
    height:350px;
    width:300px;
    margin-right: 55%;
    margin-top: -22%;
    border-radius: 50%;
    display: block;
    filter: drop-shadow(2px 5px 5px greenyellow);
}
#nav-img:hover{
    border-color: white;
    animation: reverse;
    transform: scale(1.1);
    transition: transform 400ms ease-in-out;
    filter: drop-shadow(3px 6px 6px #e9d362);
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 500px;
    z-index: -1;
}
#sections{
    margin-top: -12.5%;
    background-color: #cfdde1;
}
.sectionsdiv{
    margin-top: -5%;
    display: flex;
    height: 55vh;
}
.sectionstext{
    font-size: larger;
    font-family: cursive;
    top: 55%;
    margin-left: 20%;
}